{% extends 'base.html' %}
{% csrf_token %}
{% load static %}


{% block content %}
    <h1>Projects</h1>
    <p>This is the Projects page.</p>

    {% for group in groups %}
        <div class="project-card">
            <img src="" alt="project-snapshot">
            <div class="project-info">
                <div class="info-header">
                    <p>{{group.name}}</p>
                </div>
                <button class="delete-btn">
                    <img src="{% static 'images/x-solid.svg' %}" alt="X">
                </button>
                <div class="more-info">

                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
