{% load static %}

<!-- The base html document for all templates.  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hive Mind{% endblock %}</title>

    {% block styles %}
        <link rel="stylesheet" href="{% static 'main.css' %}">      <!-- defaults to main.css but can be overridden in child documents-->
    {% endblock %}
</head>
<body>
    <nav>
        {% block navbar %}
            <div class="navbar">
                <img src="https://i.ibb.co/cL3323b/Hive-Mindd2.png" alt="HiveMind Logo">
            </div>
        {% endblock %}
    </nav>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>

    </footer>
</body>
</html>