{% extends 'base.html' %}
{% load static %}

{% block title %}Login - Hive Mind{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="center-rectangle">

        <div class="continue-embeds">

            <img src="https://i.ibb.co/cL3324b/Hive-Mindd2.png" alt="HiveMind Logo">

            <img class="continue" src="https://i.ibb.co/7N8qZvS/googlecontinue.png" alt="googlecontinue" border="0"></a>
            <img class="continue" src="https://i.ibb.co/ctt3P2h/applecontinue.png" alt="applecontinue" border="0"></a>
            <img class="continue" src="https://i.ibb.co/TtSMbtG/facebookcontinue.png" alt="facebookcontinue"
                border="0"></a>

        </div>

        <div class="email-login">

            <h1>Login to your account</h1>
            <p>Don't have an account? <a href="">Sign Up Here!</a></p>

            <h5>Email Address</h5>
            <input type="email" id="email" name="email"><br><br>

            <h5>Password</h5>
            <input type="password" id="password" name="password"><br><br>

        </div>

    </div>
{% endblock %}